{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Super Heroes</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis provident nemo quis delectus eligendi dolorem
            amet, fuga sed quos culpa. Non autem hic illum blanditiis amet libero labore voluptas repellendus.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/super_heroes.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}